@import "fonts";
// @import "enhanced_fonts";
@import "mq";
@import "palette";
@import "enhancer";
// gu_grid pulls the css for gs-container and content__main-column
// @import "gu_grid";
//@import "scrolly";

.interactive-atom {
	margin: 0;
	padding: 0;
}

// for apps adds extra padding. Needed to make dark mode work
.ios, .android {
	.interactive-atom {
		padding: 8px;
	}
	.article {
		overflow: visible !important;
	}
}

.svg-wrapper{
	position: relative;
	width: 100%;
	height:100%;
}

.covid-line, .deaths-line, .boost-line{
	fill:none;
	stroke-width:6px;
	stroke-linecap: round;
}

.deaths-line{
	stroke:#cc0a11;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.vaccines-line{
	stroke:#056da1;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.boost-line{
	stroke:#056da1;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

//<blend-mode> = normal | multiply | screen | overlay | darken | lighten | color-dodge | color-burn | hard-light | soft-light | difference | exclusion | hue | saturation | color | luminosity

.deaths-area{
	fill:#cc0a11;
	mix-blend-mode: color;
}

.vaccines-area{
	fill:#056da1;
	mix-blend-mode: color;
}

.boost-area{
	fill:#e6f5ff;
	mix-blend-mode: lighten;
}

.deaths-dot{
	fill:#cc0a11;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.vaccines-dot{
	fill:#056da1;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.boost-dot{
	fill:#056da1;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.annotation-dot{
	fill:none;
	stroke:black;
}

.stringency-rect{
	stroke:none;
}

.leftAxis{
	@include fs-textSans(1);
	text{
		fill:#cc0a11;
		font-weight: bold;
	}

	/* .tick{
		line{stroke:white;opacity: .5;}
	} */

	line{
		stroke:#cc0a11;
		stroke-width:2px;
	}

	.white-line{
		stroke:white;
		stroke-width:1px;
		opacity: .5;
	}

	.tick:last-child{
		display: none;
	}
}

.rightAxis{
	@include fs-textSans(1);
	text{
		fill:#056da1;
		font-weight: bold;
	}

	line{
		stroke:#056da1;
		stroke-width:2px;
	}

	/* .tick{
		line{display: none;}
	} */

	.tick:last-child{
		display: none;
	}
}

.domain{
	display: none;
}

.chart-data{
	position: absolute;
	top:0;
	@include fs-titlepiece(1);
	font-weight: 700;
	font-size: 20px;
	.date{
		margin-top: 14px;
		position: relative;
	}
	.ranking{position: relative;}
	.deaths{position: absolute;color:#cc0a11;}
	.vaccines{position: absolute;color:#056da1;}
	.booster{position: absolute;color:#056da1;}
}

.date-mark{
	fill:none;
	stroke:#333;
	stroke-width:2px;
	stroke-linecap: 'round';
	stroke-dasharray:"4 1" ;
}

.date-bullet{
	background: white;
	transition: 0.25s linear;
	position: absolute;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	transform: translate(-8px, -56%);
	border: 1px solid #333;
	z-index: 1;

	&.active{
		background:#121212;
		height: 20px;
		width: 20px;
		transform: translate(-12px, -56%);
		border:4px solid white;
		height: 24px;
		width: 24px;
	}

	@include mq(mobile) {
		display: none;
	}
	@include mq(desktop) {
		display: block;
	}
}

.timeline-img-wrapper{
	width: 100%;
	padding-bottom: 50%;
	position: relative;

	.timeline-img{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background-size: cover;
	}
}



.scroll-wrapper {

	@include mq(tablet) {
		width: 740px;
	}

	@include mq(desktop) {
		width:960px;
	}

	@include mq(leftCol) {
		width: 1140px;
	}
	@include mq(wide) {
		width: 1260px;
	}
	box-sizing: border-box;
	margin: auto;
	background-color:#fff;
	position: relative;
	z-index: 100;
	border-top: 1px solid #dcdcdc;
	margin-top: 36px;
	margin-bottom: 36px;
	border-bottom: 1px solid #dcdcdc;
}

.scroll-inner {
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	top: 0;
	height: auto;
	max-height: 100vh;
	background: white;
	padding-bottom: 8px;

	&:before {
		content: "";
		position: absolute;
		top: 9px;
		border-top: 4px solid #8CCAFB;
		width: calc(100% - 434px);
	}




	@include mq(mobile) {
		border-bottom: 4px solid #8CCAFB;
	}

	@include mq(desktop) {
		border-bottom: 0px;
	}
	

	&.fixed-top {
		position: fixed;
	}

	&.absolute-top {
		position: absolute;
	}

	&.absolute-bottom {
		position: absolute;
		top: auto;
		@include mq(tablet) {
			bottom: 0;
		}
	}

	svg {
		overflow: visible;
	}
}

.scroll-text {
	position: absolute;
	z-index: -1;
	width: calc(100% - 10px);
	margin-left:9px;
	
	@include mq(mobile) {
		top:calc(50vh + 12px);
		margin-left:0;
		width: 100%;
	}

	@include mq(desktop) {
		top: 8px;
		right: 0px;
		max-width: 434px;
		z-index: 1;
	}
}



.scroll-text__div {
	width: 100%;
	max-width: 434px;
	background-color: #fff;
	@include fs-headline(5);

	h3{
		@include fs-headline(5);
		font-weight:300;
		color: #121212;
	}
}

.scroll-text__inner {

	.transparent-until-active & {
		opacity: 0.25;
		transition: opacity 0.5s ease-in-out;
	}
	border-top: 4px solid #8CCAFB;
	padding-bottom: 12px;
	position: relative;
	background: white;

	.blob-text-wrapper{
		padding:12px;

		.date{
			font-size: 20px;
			font-family: fs-headline(5);
			font-weight: 700;
			margin:0;
		}


		.paragraph{
			@include fs-bodyCopy(2);
			color: #121212;

		}
	}


}

.scroll-text__inner:not(:last-child){

	border-left: 1px solid #bababa;
}


