@import "fonts";
// @import "enhanced_fonts";
@import "mq";
@import "palette";
@import "enhancer";
// gu_grid pulls the css for gs-container and content__main-column
// @import "gu_grid";
//@import "scrolly";

.interactive-atom {
	margin: 0;
	padding: 0;
}

// for apps adds extra padding. Needed to make dark mode work
.ios, .android {
	.interactive-atom {
		padding: 8px;
	}
	.article {
		overflow: visible !important;
	}
}


// Header image inject

.content__headline, .headline {

    @include fs-titlepiece(1);
    margin-top: 290px;
    @include mq(mobileLandscape) {
        margin-top: 360px;
    }
    @include mq(desktop) {
        @include fs-titlepiece(2);
        margin-top: 360px;
    }
}

.article__header {
    background: transparent !important;

    &::before {
        margin-left: 0 !important;
    }
}

article .content--interactive::before, .article__header::before {
    //z-index: -1;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    clear: both;
    background-image: url('<%= path %>/header/mobile_header.jpg');
    width: 100%;
    margin-left: -10px;
    height: 290px;
    background-position: center bottom;
	background-color: #eaeaea;

    @include mq(mobileLandscape) {
       
        height: 350px;
		margin-left: -20px;
    }

    @include mq(tablet) {
		background-size: auto 100%;
        background-image: url('<%= path %>/header/desktop_header.jpg');
    }

	@include mq(leftCol) {
        background-image: url('<%= path %>/header/wide_header.jpg');
    }
}

.svg-wrapper{
	position: relative;
	width: 100%;
	height:100%;
}

.covid-line, .deaths-line, .boost-line{
	fill:none;
	stroke-width:6px;
	stroke-linecap: round;
}

.deaths-line{
	stroke:#cc0a11;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.vaccines-line{
	stroke:#056da1;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.boost-line{
	stroke:#056da1;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

//<blend-mode> = normal | multiply | screen | overlay | darken | lighten | color-dodge | color-burn | hard-light | soft-light | difference | exclusion | hue | saturation | color | luminosity

.deaths-area{
	//fill:#e6f5ff;
}

.vaccines-area{
	fill:#8BCAFB;
}

.boost-area{
	fill:#056da1;
}

.deaths-dot{
	fill:#cc0a11;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.vaccines-dot{
	fill:#056da1;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.boost-dot{
	fill:#056da1;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.annotation-dot{
	fill:none;
	stroke:black;
}

.stringency-rect{
	stroke:none;
}

.leftAxis{
	@include fs-textSans(1);
	text{
		fill:#cc0a11;
		
	}

	.axis-label{
		font-weight: bold;
	}

	line{
		stroke:#cc0a11;
		stroke-width:2px;
	}

	.tick:last-child{
		display: none;
	}
}

.rightAxis{
	@include fs-textSans(1);
	text{
		fill:#8BCAFB;
	}

	.axis-label{
		font-weight: bold;
	}

	.white-line{
		stroke:white!important;
		stroke-width:1px;
		opacity: .5;
	}

	line{
		stroke:#8BCAFB;
		stroke-width:2px;
	}

	.tick:last-child{
		display: none;
	}
}

.xaxis{
	.tick{
		@include fs-headline(1);
		text{fill:#bababa;}
		line{stroke:#bababa;}
	}
}

.domain{
	display: none;
}

.chart-data{
	position: absolute;
	top:5px;

	.ranking{
		display: flex;
		flex-direction: column;

		margin-left: -1vh;

		.date{
			@include fs-titlepiece(1);
			line-height: 2;
			//margin-bottom: 8px;
			font-size: 18px;
		}
		
		
		.ranking-annotation{
			@include fs-textSans(4);
			margin-top: -10px;
			font-size: 12px;
		}

		.ranking-value{
			@include fs-textSans(4);
			font-weight: bold;
			font-size: 14px;
			margin-top: -5px;
		}
	}
	.deaths{
		position: absolute;
		color:#cc0a11;
		@include fs-titlepiece(1);
				font-size: 18px;
	}
	.vaccines{
		position: absolute;
		color:#8BCAFB;
		@include fs-titlepiece(1);
				font-size: 18px;

	}
	.booster{
		position: absolute;
		width: 100%;

		.booster-value{

			color:#056da1;
			@include fs-titlepiece(1);
			font-size: 18px;
			margin-bottom: -10px;
		}

		.booster-text{

			color:#056da1;
			@include fs-textSans(1);
			font-size: 14px;
		}
		

	}
}

.date-mark{
	fill:none;
	stroke-width: 1;
	stroke: #5b5e5f;
	stroke-dasharray: 2, 2;

}

.date-bullet{
	background: white;
	transition: 0.25s linear;
	position: absolute;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	transform: translate(-8px, -56%);
	border: 1px solid #333;
	z-index: 1;
	margin: 0!important;

	&.active{
		background:#8CCAFB;
		height: 20px;
		width: 20px;
		transform: translate(-12px, -56%);
		border:4px solid white;
		height: 24px;
		width: 24px;
	}

	@include mq(mobile) {
		display: none;
	}
	@include mq(desktop) {
		display: block;
	}
}

.timeline-img-wrapper{
	width: 100%;
	//max-width: 434px;
	min-height: 240px;
	//max-height: 277px;
	padding-bottom: 50%;
	position: relative;

	.timeline-img{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background-repeat: no-repeat;
		background-size: 100%;
	}
}



.scroll-wrapper {

	@include mq(tablet) {
		width: 740px;
	}

	@include mq(desktop) {
		width:960px;
	}

	@include mq(leftCol) {
		width: 1140px;
	}
	@include mq(wide) {
		width: 1260px;
	}
	box-sizing: border-box;
	margin: auto;
	background-color:#fff;
	position: relative;
	z-index: 100;
	//border-top: 1px solid #dcdcdc;
	margin-top: 36px;
	margin-bottom: 36px;
	border-bottom: 1px solid #dcdcdc;
}

.scroll-inner {
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	top: 0;
	height: auto;
	max-height: 100vh;
	background: white;
	padding-bottom: 8px;

	&:before {
		content: "";
		position: absolute;
		top: 8px;
		border-top: 4px solid #8CCAFB;
		width: calc(100% - 434px);
		bottom: 28px;
		border-bottom: 4px solid #dadada;
		z-index: -1;
	}


	@include mq(mobile) {
		border-bottom: 4px solid #8CCAFB;
	}

	@include mq(desktop) {
		border-bottom: 0;
	}
	

	&.fixed-top {
		position: fixed;
	}

	&.absolute-top {
		position: absolute;
	}

	&.absolute-bottom {
		position: absolute;
		top: auto;
		@include mq(tablet) {
			bottom: 0;
		}
	}

	svg {
		overflow: visible;
	}
}

.scroll-text {
	position: absolute;
	z-index: -1;
	width: calc(100% - 10px);
	margin-left:9px;
	
	@include mq(mobile) {
		//top:calc(50vh + 12px);
		margin-left:0;
		width: 100%;
	}

	@include mq(desktop) {
		top: 8px;
		right: 0px;
		max-width: 434px;
		z-index: 1;
	}
}



.scroll-text__div {
	width: 100%;
	max-width: 434px;
	background-color: #fff;
	@include fs-headline(5);
}

.scroll-text__inner {

	.transparent-until-active & {
		opacity: 0.25;
		transition: opacity 0.5s ease-in-out;
	}
	border-top: 4px solid #8CCAFB;
	padding-bottom: 12px;
	position: relative;
	background: white;

	.blob-text-wrapper{
		padding:8px 8px 12px 8px;

		.date{
			
			@include fs-headline(3);
			line-height: 44px;
			font-weight: 300;
			font-variant-numeric: lining-nums;
			-webkit-font-feature-settings: "lnum";
			font-feature-settings: "lnum";
		}

		h3{
			@include fs-headline(3);
			font-weight:bold;
			color: #121212;
			font-size: 21!important;
		}


		.paragraph{
			@include fs-bodyCopy(2);
			color: #121212;

		}
	}


}
.gv-text-section{

    @include mq(leftCol) {
        margin-left: 160px !important;
    }
    @include mq(wide) {
        margin-left: 240px !important;
    }

    &:before {
        position: absolute;
        top: 0;
    
        height: 100%;
        min-height: 500px;
        content: ' ';
    
    
        @include mq(leftCol) {
            border-left:1px solid #dfdfdf;
    
          left: calc((100% - 1140px)/2 + 170px);
        }
    
        @include mq(wide) {
            border-left:1px solid #dfdfdf;
    
          left: calc((100% - 1300px)/2 + 250px);
        }
      }
}


