@import "fonts";
// @import "enhanced_fonts";
@import "mq";
@import "palette";
@import "enhancer";
// gu_grid pulls the css for gs-container and content__main-column
// @import "gu_grid";
//@import "scrolly";

.interactive-atom {
	margin: 0;
	padding: 0;
}

// for apps adds extra padding. Needed to make dark mode work
.ios, .android {
	.interactive-atom {
		padding: 8px;
	}
	.article {
		overflow: visible !important;
	}
}

.uk-covid-wrapper{
	position: relative;
	width: 100%;
}

.covid-line, .deaths-line, .boost-line{
	fill:none;
	stroke-width:6px;
	stroke-linecap: round;
}

.deaths-line{
	stroke:#cc0a11;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.vaccines-line{
	stroke:#056da1;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.boost-line{
	stroke:#056da1;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

//<blend-mode> = normal | multiply | screen | overlay | darken | lighten | color-dodge | color-burn | hard-light | soft-light | difference | exclusion | hue | saturation | color | luminosity

.deaths-area{
	fill:#cc0a11;
	mix-blend-mode: color;
}

.vaccines-area{
	fill:#056da1;
	mix-blend-mode: color;
}

.boost-area{
	fill:#e6f5ff;
	mix-blend-mode: lighten;
}

.deaths-dot{
	fill:#cc0a11;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.vaccines-dot{
	fill:#056da1;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.boost-dot{
	fill:#056da1;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}

.annotation-dot{
	fill:none;
	stroke:black;
}

.stringency-rect{
	stroke:none;
}

.leftAxis{
	@include fs-textSans(1);
	text{
		fill:#cc0a11;
	}

	.tick{
		line{stroke:white;opacity: .5;}
	}
}

.rightAxis{
	@include fs-textSans(1);
	text{
		fill:#056da1;
	}

	.tick{
		line{display: none;}
	}
}

.domain{
	display: none;
}

.chart-data{
	@include fs-headline(3);
	position: absolute;
	.date{position: relative;}
	.ranking{position: relative;}
	.deaths{position: absolute;color:#cc0a11;}
	.vaccines{position: absolute;color:#056da1;}
	.booster{position: absolute;color:#056da1;}
}

.date-mark{
	fill:none;
	stroke:#333;
	stroke-width:2px;
}

.scroll-wrapper {
	@include mq(tablet) {
		width: 740px;
	}

	@include mq(desktop) {
		width:960px;
	}

	@include mq(leftCol) {
		width: 1140px;
	}
	@include mq(wide) {
		width: 1260px;
	}
	box-sizing: border-box;
	margin: auto;
	background-color:#fff;
	position: relative;
	z-index: 100;
	border-top: 1px solid #dcdcdc;
	margin-top: 36px;
	margin-bottom: 36px;
	border-bottom: 1px solid #dcdcdc;
}

.scroll-inner {
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	top: 0;
	height: auto;
	max-height: 100vh;
	background: white;

	&.fixed-top {
		position: fixed;
	}

	&.absolute-top {
		position: absolute;
	}

	&.absolute-bottom {
		position: absolute;
		top: auto;
		@include mq(tablet) {
			bottom: 0;
		}
	}

	svg {
		overflow: visible;
	}
}

.scroll-text {
	position: absolute;
	top: 200px;
	width: 100%;
	z-index: -1;

	@include mq(desktop) {
		top: 0;
		right: 0px;
		max-width: calc(100% * .4);
		z-index: 1;
	}
    //left: calc(50% - 150px);
    //pointer-events: none;
}

.scroll-text__div {
	width: 100%;
	margin-left: 0px;
	background-color: #fff;
    //border: 2px solid #000;
    //box-shadow: 4px 4px 0 0 #767676;
    padding: 6px 10px 0px;
    @include fs-headline(5);
    font-size: 20px;
    line-height: 26px;
    padding-top: 4px;
    padding-bottom: 0px;
}

.scroll-text__inner {

	.transparent-until-active & {
		opacity: 0.25;
		transition: opacity 0.5s ease-in-out;
	}
	//height: 30vh;

	&:not(:last-child) {

		border-bottom: 1px solid #121212;
	}

	

   /*  border-top: 4px solid #f67676;
    border-right: 1px solid #121212;
    border-bottom: 1px solid #121212; */
    min-height: 68px;
    //padding-bottom: 20px;
    //margin-bottom: 24px;
    position: relative;

    .date{
    	position: absolute;
    	width: 20px;
    	font-size: 20px;
    	line-height: 44px;
    	font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    	font-weight: 700;
    	font-variant-numeric: lining-nums;
    	-webkit-font-feature-settings: "lnum";
    	font-feature-settings: "lnum";
    	top: 10px;
    	line-height: 26px;
    }
    h3{
    	font-size: 24px;
    	line-height: 28px;
    	font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
    	font-weight: 400;
    	font-weight: 600;
    	padding-left: 80px;
    	padding-bottom: 2px;
    	padding-right: 10px;
    	padding-top: 2px;
    	color: #121212;
    }

    .paragraph{
    	margin-bottom: 1rem;
    	word-break: break-word;
    	font-family: GuardianTextEgyptian,Guardian Text Egyptian Web,Georgia,serif;
    	font-size: 1.0625rem;
    	line-height: 1.5;
    	font-weight: 400;
    	color: #121212;
    	padding-left: 80px;
    	padding-right: 10px;
    }
}


