<div id="gv-scrolly-1">
    <div class="scroll-wrapper">
        <div class="scroll-inner">
            
            <div class="uk-covid-wrapper"></div>
			
        </div>
        <div class="scroll-text">

        <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3>This is Israel’s 2021 pandemic curve</h3>
                    <p>
                        Throughout 2021, Israel has managed to roll out the vaccine at impressive speed. It's shown the world that a country can vaccinate its way out of the pandemic.
                    </p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3>Israel’s peak came in 2021’s seventh week</h3>
                    <p>This <span class="ISR">curve</span> shows how Israel’s Covid-19 deaths increased until the <span class="bold">seventh week</span> of the year. At this point, just as its vaccination rollout was at its quickest pace, deaths started to fall.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3>Deaths began to fall as vaccines were rolled out</h3>
                    <p>Weekly vaccines remained over 10,000 per million for several weeks as the country sought high vaccine coverage. It began to pay off from the  <span class="bold">eighth week</span>, as deaths started to fall dramatically.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div" style="float: left;">
                    <h3>This is the curve that other countries hope to copy</h3>
                    <p  style="float: right;"><img src="<%= path %>/curve.png" class="arrow-img" style="float: left;">
                    This arrow indicates how Israel’s deaths increased until higher vaccine coverage helped push its curve back to the left-hand side of this chart. It is a pattern that other countries hope to emulate.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3>Other countries are now seeing a similar pattern</h3>
                    <p>Death rates surged at the start of the year in both the <span class="GBR">UK</span> and the <span class="USA">US</span>, just as the two developed countries began to ramp up their vaccination rollouts.
                    </p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>But now, with wider vaccination coverage, deaths have been pushed back to lower levels in both countries. They’ve succeeded in following Israel in having high vaccine numbers alongside low deaths</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3>And the same can now be seen in wealthy European countries</h3>
                    <p>Despite slow starts to their own vaccination campaigns, the same pattern can now be seen in major European economies such as <span class="ESP">Spain</span>, <span class="ITA">Italy</span>, <span class="DEU">Germany</span> and <span class="FRA">France</span></p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>Deaths are down across the board as these countries now have the majority of their vulnerable population protected by the vaccine.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3>But developing countries aren’t showing the same patterns</h3>
                    <p>In a worrying sign that the unequal spread of vaccines around the world is creating a two-tier pandemic in which poorer countries are left behind, countries such as each of <span class="BRA">Brazil</span>, <span class="ARG">Argentina</span>, <span class="IND">India</span>, <span class="PER">Peru</span> and <span class="ZAF">South Africa</span> are not following the same inverse C pattern of developed countries.
                </p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>After a slow first quarter for vaccine rollout, these developing countries are slowly increasing their vaccine distribution, but each has yet to see a sustained decrease in the number of Covid-19 deaths they’re facing.
                    </p>
                </div>
            </div>
            </div>
        </div>

        </div>


</div>


